body,
main,
footer,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

// Typography
// Regular 400, Medium 500, Bold 700
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

// Colors
$main-color: #FDC430;
$main-color2: #FBBC05;
$black-color: #141313;
$gray-color1: #282723;
$gray-color2: #4A4942;
$gray-color3: #9B9B97;

$white-color: #FFFFFF;
$green-color: #57C224;
$red-color: #961111;

// Typography
// Nunito Regular 400, Medium 500, Bold 700
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

// 48px, 40px, 36px
@mixin headings($f-size){    
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: $f-size;
    color: $white-color;
}

// Bold, SemiBold, Regular + Bold 
@mixin texts($weight){
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: $white-color;
    font-weight: $weight;
}

@mixin form-text{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

@mixin button{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: $black-color;
    font-weight: 500;
}

// BreakPoints
$floating-menu: 1600px;

$large-desktop: 1350px;       // 1st BP - Login / Register
$medium-desktop: 1060px;     // 2nd BP - Login / Register

$mobile: 800px;             // Mobile BreakPoint
$second-mobile: 440px;     // 2nd Mobile BreakPoint
$third-mobile: 380px;     // 3rd Mobile BreakPoint



@mixin desktop-responsive($size) {
  @if $size ==large {
    @media screen and (max-width: #{$large-desktop}) {
      @content;
    }
  }

  @else if $size ==medium {
    @media screen and (max-width: #{$medium-desktop}) {
      @content;
    }
  }

  @else if $size ==mobile {
    @media screen and (max-width: #{$mobile}) {
      @content;
    }
  }

  @else if $size ==second-mobile {
    @media screen and (max-width: #{$second-mobile}) {
      @content;
    }
  }

  @else if $size ==third-mobile {
    @media screen and (max-width: #{$third-mobile}) {
      @content;
    }
  }

  @else if $size ==teste {
    @media screen and (max-width: #{$teste}) {
      @content;
    }
  }
}

$laptop-height: 922px;

@mixin laptop-responsive($size){
  @if $size== laptop{
    @media screen and (max-height: #{laptop-height}) {
      @content;
    }
  }
}

@mixin float-menu($size){
  @if $size== float{
    @media screen and (max-width: #{$floating-menu}) {
      @content;
    }
  }
}