@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
body,
main,
footer,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

[data-login], [data-register], .l-menu {
  display: none;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#main-left {
  background-color: #FDC430;
  width: auto;
  height: 100vh;
}
#main-left h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  color: #141313;
  margin-left: 50px;
  margin-top: 65px;
}
#main-left p {
  margin-left: 50px;
}
#main-left .main-img {
  margin-left: 85px;
  margin-top: 35px;
}

#main {
  width: auto;
  background-color: #282723;
  display: block;
}
#main [data-menu] .l-initials {
  display: flex;
  justify-content: end;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: right;
  margin-right: 40px;
  margin-top: 50px;
}
#main [data-menu] .ArrowDown {
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 10px;
}
#main .floating-menu img {
  -webkit-animation: enterMenu 0.3s forwards;
          animation: enterMenu 0.3s forwards;
}
#main .floating-menu .l-menu {
  -webkit-animation: anime2 0.3s forwards;
          animation: anime2 0.3s forwards;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  color: #141313;
  width: 150px;
  height: auto;
  background-color: #FDC430;
  position: absolute;
  right: 0px;
  top: 80px;
  border-radius: 2px;
  margin-right: 40px;
  border: 2px solid black;
  cursor: pointer;
  z-index: 2;
}
#main .floating-menu .l-menu p {
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: 12px;
  border-bottom: 2px solid black;
}
#main img {
  -webkit-animation: leaveMenu 0.3s forwards;
          animation: leaveMenu 0.3s forwards;
}

@-webkit-keyframes enterMenu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes enterMenu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes leaveMenu {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes leaveMenu {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes anime2 {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes anime2 {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.login-active {
  display: block;
  -webkit-animation: anime1 0.3s forwards;
          animation: anime1 0.3s forwards;
}
.login-active .form-texts {
  margin-top: 70px;
  margin-left: 30%;
}
.login-active .form-texts h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.login-active .form-texts form .texts {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  margin-top: 60px;
}
.login-active .form-texts form .texts .hidden {
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
}
.login-active .form-texts form input {
  outline: none;
  margin-top: 10px;
  padding-left: 15px;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid black;
  background-color: #4A4942;
  color: white;
  font-size: 20px;
  transition: 0.9s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
}
.login-active .form-texts form input:hover {
  border: 2px solid #FFFFFF;
}
.login-active .form-texts form [data-error] {
  display: none;
}
.login-active .form-texts form .error-actived {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 18px;
  margin-top: 2px;
  padding-left: 15px;
  display: block;
  width: 355px;
  height: 30px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: red;
  -webkit-animation: animaError 0.5s forwards;
          animation: animaError 0.5s forwards;
}
@-webkit-keyframes animaError {
  from {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes animaError {
  from {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.login-active .form-texts .f-password {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: right;
  margin-right: 100px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.login-active .form-texts .f-password:hover {
  color: #FBBC05;
}
.login-active .form-texts .hidden-button {
  display: none;
}
.login-active .form-texts .btn {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  color: #141313;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
  margin-left: 5%;
  width: 300px;
  height: 62px;
  background-color: #FBBC05;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
}
.login-active .form-texts [data-success] {
  display: none;
}
.login-active .form-texts .success-actived {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 28px;
  margin-left: 18.5%;
  color: #30b842;
}
.login-active .form-texts [data-loading] {
  display: none;
}
.login-active .form-texts .loading {
  display: block;
  width: 62px;
  height: 62px;
  margin-left: 23.5%;
  margin-top: 40px;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-animation: ring 1s linear infinite;
          animation: ring 1s linear infinite;
}
@-webkit-keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 4px 2px yellow;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 4px 2px yellow;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 4px 2px yellow;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 4px 2px yellow;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 4px 2px yellow;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 4px 2px yellow;
  }
}
.login-active .f-register {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 60px;
  text-align: center;
}
.login-active span {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  color: #FFFFFF;
  transition: 0.4s;
}
.login-active span:hover {
  color: #FBBC05;
}

@-webkit-keyframes anime1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anime1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.register-active {
  width: auto;
  background-color: #282723;
  display: block;
  -webkit-animation: anime1 0.3s forwards;
          animation: anime1 0.3s forwards;
}
.register-active .registerForm {
  margin-left: 30%;
}
.register-active .registerForm h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.register-active .btn {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  color: #141313;
  font-weight: 500;
  outline: none;
  margin-top: 40px;
  margin-left: 5%;
  width: 300px;
  height: 62px;
  background-color: #FBBC05;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
  cursor: pointer;
}
.register-active form .texts {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  padding-top: 30px;
}
.register-active form .texts .hidden {
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
}
.register-active form input {
  margin-top: 10px;
  outline: none;
  margin-top: 10px;
  padding-left: 15px;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid black;
  background-color: #4A4942;
  color: white;
  font-size: 20px;
  transition: 0.9s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
}
.register-active form input:hover {
  border: 2px solid #FFFFFF;
}
.register-active form [data-error=register] {
  display: none;
}
.register-active form .error-actived {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 14px;
  margin-top: 2px;
  padding-left: 15px;
  display: block;
  width: 355px;
  height: 30px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: red;
  -webkit-animation: animaError 0.5s forwards;
          animation: animaError 0.5s forwards;
}
@keyframes animaError {
  from {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.register-active .signIn {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 5%;
}
.register-active span {
  margin-left: 6px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  color: #FFFFFF;
  transition: 0.4s;
}
.register-active span:hover {
  color: #FBBC05;
}

@media screen and (max-width: 1350px) {
  .login-active .form-texts {
    margin-left: 20px;
  }
  .login-active .form-texts .f-password {
    margin-right: 0px;
  }
  .login-active .form-texts .btn {
    margin-left: 28%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1060px) {
  .login-active .form-texts h1 {
    font-size: 38px;
  }
  .login-active .form-texts form .texts {
    font-size: 16px;
  }
  .login-active .form-texts form .texts .hidden {
    width: 25px;
    margin-left: 8px;
  }
  .login-active .form-texts form input {
    width: 300px;
    font-size: 16px;
  }
  .login-active .form-texts form .error-actived {
    width: 300px;
    font-size: 16px;
  }
  .login-active .form-texts .f-password {
    font-size: 16px;
  }
  .login-active .form-texts .btn {
    width: 200px;
    margin-left: 26%;
  }
  .login-active .f-register {
    font-size: 16px;
    margin-left: 20px;
  }
  .login-active span {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .login-active {
    margin-left: 15%;
  }
  .login-active .form-texts {
    margin-top: 0px;
  }
  .login-active .form-texts .btn {
    margin-left: 0%;
  }
  .login-active .form-texts .f-password {
    margin-right: 30px;
  }
  .login-active .f-register {
    margin-right: 0px;
    text-align: start;
  }
}
@media screen and (max-width: 440px) {
  .login-active {
    margin-left: 0px;
  }
  .login-active .f-register {
    margin-top: 35px;
  }
}
@media screen and (max-width: 380px) {
  .login-active .form-texts .f-password {
    font-size: 16px;
  }
  .login-active .form-texts form input {
    width: 80%;
    height: 40px;
  }
  .login-active .form-texts form .error-actived {
    width: 80%;
    font-size: 14px;
  }
  .login-active .form-texts .btn {
    width: 150px;
    height: 50px;
    font-size: 24px;
  }
  .login-active .f-register {
    font-size: 14px;
  }
  .login-active span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1350px) {
  .register-active .registerForm {
    margin-left: 10%;
  }
}
@media screen and (max-width: 1060px) {
  .register-active form .texts {
    font-size: 16px;
  }
  .register-active form .texts .hidden {
    margin-left: 8px;
    width: 25px;
  }
  .register-active form input {
    width: 70%;
    font-size: 16px;
  }
  .register-active .registerForm h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  .register-active {
    margin-left: 5%;
  }
  .register-active .form-texts {
    margin-top: 0px;
  }
  .register-active .form-texts .btn {
    margin-left: 0%;
  }
  .register-active .form-texts .f-password {
    margin-right: 30px;
  }
  .register-active form input {
    width: 300px;
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .register-active {
    margin-left: 0px;
  }
  .register-active form input {
    width: 74%;
  }
  .register-active .registerForm .btn {
    width: 200px;
    font-size: 22px;
    margin-right: 12%;
  }
  .register-active .signIn {
    padding-bottom: 40px;
    font-size: 16px;
    margin-top: 40px;
  }
  .register-active .signIn span {
    font-size: 16px;
  }
}
@media screen and (max-width: 380px) {
  .register-active .registerForm h1 {
    font-size: 22px;
  }
  .register-active .registerForm .btn {
    margin-left: 0%;
  }
  .register-active .signIn {
    font-size: 14px;
    padding-bottom: 80px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1600px) {
  #main [data-menu] .l-initials {
    margin-right: 20px;
  }
  #main .floating-menu .l-menu {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1350px) {
  #main [data-menu] .l-initials {
    font-size: 18px;
  }
}
@media screen and (max-width: 1060px) {
  #main .floating-menu .l-menu {
    margin-right: 0px;
  }
}
@media screen and (max-width: 800px) {
  #main {
    width: 100vw;
    height: 100vh;
  }
  #main [data-menu] .l-initials {
    margin-right: 20px;
  }
  #main .floating-menu .l-menu {
    margin-right: 18px;
    top: 100px;
  }
}
@media screen and (max-width: 440px) {
  #main {
    height: 100vh;
  }
  #main [data-menu] .l-initials {
    margin-top: 20px;
  }
  #main [data-menu] .l-initials img {
    margin-bottom: 1px;
  }
  #main .floating-menu .l-menu {
    width: 100px;
    height: auto;
    margin-right: 18px;
    top: 50px;
    font-size: 18px;
  }
  #main .floating-menu .l-menu p {
    padding-bottom: 15px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 380px) {
  #main {
    height: 100vh;
  }
  #main [data-menu] .l-initials {
    font-size: 16px;
    margin-right: 10px;
    margin-top: 40px;
  }
  #main .floating-menu .l-menu {
    top: 62px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 1350px) {
  #main-left {
    height: 100vh;
  }
  #main-left .main-img {
    width: 500px;
  }
  #main-left .seal {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  #main-left .main-img {
    width: 400px;
    margin: 10px;
  }
  #main-left h1, #main-left p {
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  #main-left {
    display: none;
  }
}
@media screen and (max-height: 610px) {
  #main-left {
    height: 100%;
  }
}/*# sourceMappingURL=yellow.css.map */