@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
body,
main,
footer,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#main-left {
  background-color: #FDC430;
  width: auto;
  height: 100vh;
}

#main-left h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  color: #141313;
  margin-left: 50px;
  margin-top: 65px;
}

#main-left p {
  margin-left: 50px;
}

#main-left .main-img {
  margin-left: 85px;
  margin-top: 35px;
}

#login {
  width: auto;
  height: 100vh;
  background-color: #282723;
  display: block;
}

#login .l-menu {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  color: #141313;
  width: 150px;
  height: auto;
  background-color: #FDC430;
  position: absolute;
  right: 0px;
  top: 100px;
  border-radius: 2px;
  margin-right: 100px;
  border: 2px solid black;
}

#login .l-menu p {
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 12px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#login .lg {
  text-align: right;
  margin-right: 100px;
  margin-top: 65px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
}

#login .lg img {
  margin-bottom: 2px;
  margin-left: 10px;
}

#login .form-texts {
  margin-top: 70px;
  margin-left: 30%;
}

#login .form-texts h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}

#login .form-texts .f-password {
  text-align: right;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  margin-right: 100px;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#login .form-texts .f-password:hover {
  color: #FBBC05;
}

#login .form-texts .btn {
  outline: none;
  margin-top: 40px;
  margin-left: 5%;
  width: 300px;
  height: 62px;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  color: #141313;
  font-weight: 500;
  background-color: #FBBC05;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
          box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
}

#login .form-texts form .texts {
  margin-top: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

#login .form-texts form input {
  outline: none;
  margin-top: 10px;
  padding-left: 15px;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid black;
  background-color: #4A4942;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.90s;
  transition: 0.90s;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
}

#login .form-texts form input:hover {
  border: 2px solid #FFFFFF;
}

#login .form-texts form input[type=password] {
  background-color: #4A4942 !important;
  background: url(../Imgs/hidden.svg);
  background-repeat: no-repeat;
  background-position: 94%;
}

#login .f-register {
  margin-top: 60px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
}

#login .f-register span {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  color: #FFFFFF;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#login .f-register span:hover {
  color: #FBBC05;
}

#register {
  width: auto;
  height: 100vh;
  background-color: #282723;
  display: block;
}

#register .l-menu {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  color: #141313;
  width: 150px;
  height: auto;
  background-color: #FDC430;
  position: absolute;
  right: 0px;
  top: 100px;
  border-radius: 2px;
  margin-right: 100px;
  border: 2px solid black;
}

#register .l-menu p {
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 12px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#register .lg {
  text-align: right;
  margin-right: 100px;
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
}

#register .lg img {
  margin-bottom: 2px;
  margin-left: 10px;
}

#register .registerForm {
  margin-left: 30%;
}

#register .registerForm h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}

#register .btn {
  outline: none;
  margin-top: 40px;
  margin-left: 5%;
  width: 300px;
  height: 62px;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  color: #141313;
  font-weight: 500;
  background-color: #FBBC05;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
          box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
  cursor: pointer;
}

#register form .texts {
  padding-top: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

#register form input {
  margin-top: 10px;
  outline: none;
  margin-top: 10px;
  padding-left: 15px;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid black;
  background-color: #4A4942;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.90s;
  transition: 0.90s;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
}

#register form input:hover {
  border: 2px solid #FFFFFF;
}

#register .signIn {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 5%;
}

#register .signIn span {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  color: #FFFFFF;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#register .signIn span:hover {
  color: #FBBC05;
}
/*# sourceMappingURL=yellow.css.map */