@import './styles.scss';

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

[data-login], [data-register], .l-menu{
    display: none;
}


body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#main-left{
    background-color: $main-color;
    width: auto;
    height: 100vh;

    h1{
        @include headings(36px);
        color: $black-color;
        margin-left: 50px;
        margin-top: 65px;
    }

    p{
        margin-left: 50px;
    }

    .main-img{
        margin-left: 85px;
        margin-top: 35px;
    }
}

#main {
    width: auto;
    background-color: $gray-color1;
    display: block;

    // ----- Menu Floating -----
    [data-menu] {
        .lg {
            @include texts(700);
            text-align: right;
            margin-right: 100px;
            margin-top: 65px;

            img {
                cursor: pointer;
                margin-bottom: 2px;
                margin-left: 10px;
            }
        }
    }

    .floating-menu {
        img {
            animation: enterMenu .3s forwards;
        }

        .l-menu {
            animation: anime2 .3s forwards;
            display: block;
            @include texts(500);
            color: $black-color;
            width: 150px;
            height: auto;
            background-color: $main-color;
            position: absolute;
            right: 0px;
            top: 100px;
            border-radius: 2px;
            margin-right: 100px;
            border: 2px solid black;
            cursor: pointer;
            z-index: 2;

            p {
                padding-bottom: 20px;
                padding-left: 10px;
                margin-top: 12px;
                border-bottom: 2px solid black;
            }
        }
    }

    img {
        animation: leaveMenu .3s forwards;
    }
}
// Floating Menu Animation
@keyframes enterMenu {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

@keyframes leaveMenu {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes anime2{
    from{
        opacity: 0;
        transform: translate3d(0px, 50px, 0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

// ------------ LOGIN FORM ------------
.login-active {
    display: block;
    animation: anime1 .3s forwards;

    .form-texts {
        margin-top: 70px;
        margin-left: 30%;

        h1 {
            @include headings(48px);
        }

        form {
            .texts {
                @include form-text;
                margin-top: 60px;
            }

            input {
                outline: none;
                margin-top: 10px;
                padding-left: 15px;
                width: 350px;
                height: 45px;
                border-radius: 6px;
                border: 2px solid black;
                background-color: $gray-color2;
                color: white;
                font-size: 20px;
                transition: 0.90s;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);

                &:hover {
                    border: 2px solid $white-color;
                }
            }
        }

        .f-password {
            @include texts(500);
            text-align: right;
            margin-right: 100px;
            margin-top: 40px;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                color: $main-color2;
            }
        }

        .btn {
            @include button;
            cursor: pointer;
            outline: none;
            margin-top: 40px;
            margin-left: 5%;
            width: 300px;
            height: 62px;
            background-color: $main-color2;
            border: none;
            border-radius: 6px;
            box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
        }
    }

    .f-register {
        @include texts(500);
        margin-top: 60px;
        text-align: center;

        span {
            cursor: pointer;
            @include texts(700);
            color: $white-color;
            transition: 0.4s;

            &:hover {
                color: $main-color2;
            }
        }
    }
}

@keyframes anime1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

// ----------------- REGISTER FORM -----------------
.register-active{
    width: auto;
    background-color: $gray-color1;
    display: block;
    animation: anime1 .3s forwards;

    .registerForm{
        margin-left: 30%;
        h1{
            padding-top: 0px;
            @include headings(48px);
        }
    }
    .btn{
        @include button;
        outline: none;
        margin-top: 40px;
        margin-left: 5%;
        width: 300px;
        height: 62px;
        background-color: $main-color2;
        border: none;
        border-radius: 6px;
        box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.435);
        cursor: pointer;
    }

    form{
        .texts{
            @include form-text;
            padding-top: 30px;
        }

        input{
            margin-top: 10px;
            outline: none;
            margin-top: 10px;
            padding-left: 15px;
            width: 350px;
            height: 45px;
            border-radius: 6px;
            border:  2px solid black;
            background-color: $gray-color2;
            color: white;
            font-size: 20px;
            transition: 0.90s;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.435);
            &:hover{
                border: 2px solid $white-color;
            }
        }
    }
    .signIn{
        @include texts(500);
        margin-top: 40px;
        margin-left: 5%;

        span{
            cursor: pointer;
            @include texts(700);
            color: $white-color;
            transition: 0.4s;
            &:hover{
                color: $main-color2;
            }
        }
    }
}


// Responsive
.login-active {
    @include desktop-responsive(large) {
        .form-texts {
            margin-left: 20px;

            .f-password {
                margin-right: 0px;
            }

            .btn{
                margin-left: 28%;
                margin-right: 0px;
            }

        }
    }
    @include desktop-responsive(medium){
        .form-texts{
            h1{
                font-size: 38px;
            }

            form{
                .texts{
                    font-size: 16px;
                }
                input{
                    width: 300px;
                    font-size: 16px;
                }
            }

            .f-password{
                font-size: 16px;
            }

            .btn{
                width: 200px;
                margin-left: 26%;
            }
        }
        .f-register{
            font-size: 16px;

            span{
                font-size: 16px;
            }
        }
    }
    @include desktop-responsive(mobile){
        margin-left: 15%;

        .form-texts{
            margin-top: 0px;

            .btn{
                margin-left: 0%;
            }
            .f-password{
                margin-right: 30px;
            }
        }

        .f-register{
            margin-right: 0px;
            text-align: start;
        }
    }
    @include desktop-responsive(second-mobile){
        margin-left: 0px;

        .f-register{
            margin-top: 35px;
        }
    }
    @include desktop-responsive(third-mobile){
        .form-texts{
            .f-password {
                font-size: 16px;
            }
            
            form{

                input{
                    width: 80%;
                    height: 40px;
                }
            }

            .btn{
                width: 150px;
                height: 50px;
                font-size: 24px;
            }
        }

        .f-register{
            font-size: 14px;

            span{
                font-size: 14px;
            }
        }
    }
}

.register-active{
    @include desktop-responsive(large) {
        .registerForm{
            margin-left: 10%;
        }
    }

    @include desktop-responsive(medium){
        form{
            .texts{
                font-size: 16px;
            }
            input{  
                width: 70%;
                font-size: 16px;
            }
        }

        .registerForm{
            h1{
                font-size: 35px;
            }
        }
    }

    @include desktop-responsive(mobile){
        margin-left: 5%;

        .form-texts{
            margin-top: 0px;

            .btn{
                margin-left: 0%;
            }
            .f-password{
                margin-right: 30px;
            }
        }

        form{
            input{  
                width: 300px;
                font-size: 16px;
            }
        }
    }

    @include desktop-responsive(second-mobile){
        margin-left: 0px;

        form{
            input{  
                width: 74%;

            }
        }

        .registerForm{
            .btn{
                width: 200px;
                font-size: 22px;
                margin-right: 12%;
            }
        }

        .signIn{
            padding-bottom: 40px;
            font-size: 16px;
            margin-top: 40px;
            span{
                font-size: 16px;
            }
        }
    }

    @include desktop-responsive(third-mobile){
        .registerForm{
            h1{
                font-size: 22px;
            }
            .btn{
                margin-left: 0%;
            }
        }

        .signIn{
            font-size: 14px;
            padding-bottom: 80px;
            margin-left: 0px;
        }
    }
}

#main {
    @include float-menu(float){
        [data-menu]{
            .lg{
                margin-right: 20px;
            }
        }

        .floating-menu{
            .l-menu{
                margin-right: 20px;
            }
        }
    }

    @include desktop-responsive(large){
        [data-menu]{
            .lg{
                font-size: 18px;
            }
        }
    }

    @include desktop-responsive(medium){
        .floating-menu{
            .l-menu{
                margin-right: 0px;
            }
        }
    }

    @include desktop-responsive(mobile) {
        width: 100vw;
        height: 100vh;

        [data-menu]{
            .lg{
                margin-right: 20px;
            }
        }

        .floating-menu {
            .l-menu {
                margin-right: 18px;
                top: 100px;
            }
        }
    }

    @include desktop-responsive(second-mobile) {
        height: 100vh;

        [data-menu] {
            .lg {
                margin-top: 20px;

                img {
                    margin-bottom: 1px;
                }
            }
        }

        .floating-menu {
            .l-menu {
                width: 100px;
                height: auto;
                margin-right: 18px;
                top: 50px;
                font-size: 18px;

                p {
                    padding-bottom: 15px;
                    margin-top: 10px;
                }
            }
        }
    }

    @include desktop-responsive(third-mobile) {
        height: 100vh;

        [data-menu] {
            .lg {
                font-size: 16px;
                margin-right: 10px;
                margin-top: 40px;
            }
        }

        .floating-menu {
            .l-menu {
                top: 62px;
                margin-right: 8px;
            }
        }
    }


}
#main-left{
    @include desktop-responsive(large){
        .main-img{
            width: 500px;
        }
    }
    @include desktop-responsive(medium){
        height: 100vh;
        .main-img{
            width: 400px;
            margin: 10px;
        }
        h1, p{
            margin-left: 20px;
        }
    }
    @include desktop-responsive(mobile){
        display: none;
    }
}
