@import './styles.scss';


body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#main-left{
    background-color: $main-color;
    width: auto;
    height: 100vh;
    h1{
        @include headings(36px);
        color: $black-color;
        margin-left: 50px;
        margin-top: 65px;
    }
    p{
        margin-left: 50px;
    }
    .main-img{
        margin-left: 85px;
        margin-top: 35px;
    }
}

#login{
    width: auto;
    height: 100vh;
    background-color: $gray-color1;
    display: block;
    .lg{
        text-align: right;
        margin-right: 100px;
        margin-top: 65px;
        @include texts(700);
        img{
            margin-bottom: 2px;
            margin-left: 10px;
        }
    }
    .form-texts{
        margin-top: 70px;
        margin-left: 30%;
        h1{
            @include headings(48px);
        }
        .f-password{
            text-align: right;
            @include texts(500);
            margin-right: 100px;
            margin-top: 40px;
        }
        .btn{
            margin-top: 40px;
            // margin-left: 30px;
            margin-left: 5%;
            width: 300px;
            height: 62px;
            @include button;
            background-color: $main-color2;
            border: none;
            border-radius: 6px;
            // margin-left: 80px;
        }
        form{
            .texts{
                margin-top: 60px;
                @include form-text;
            }
            input{
                margin-top: 10px;
                width: 350px;
                height: 45px;
                border-radius: 6px;
                border: solid 2px black;
                background-color: $gray-color2;
            }
        }
    }
    .f-register{
        margin-top: 60px;
        text-align: center;
        @include texts(500);
        span{
            @include texts(700);
            color: $main-color2;
        }
    }
}